      <section class="partners" id="partners" aria-labelledby="partners-title">
        <div class="partners__inner">
          <p class="partners__badge">
            <span class="partners__badge-dot" aria-hidden="true"></span>
            Бренды-партнёры
          </p>
          <h2 class="partners__title" id="partners-title">
            Продаём и укладываем покрытия проверенных брендов
          </h2>
          <ul class="partners__list" role="list" data-partners-list>
            <li class="partners__item">
              <div class="partners__tile" data-partners-flip tabindex="0">
                <div class="partners__flip">
                  <div class="partners__face partners__face--front">
                    <img class="partners__logo" src="/static/images/partners/tarkett.webp" alt="Tarkett" width="200" height="120" loading="lazy" decoding="async">
                  </div>
                  <div class="partners__face partners__face--back" aria-hidden="true">
                    <dl class="partners__case">
                      <div class="partners__case-row">
                        <dt>О бренде</dt>
                        <dd>Мировой производитель напольных покрытий с заводами в Европе и России</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>Ассортимент</dt>
                        <dd>Ламинат, линолеум, LVT и коммерческие покрытия</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>У нас</dt>
                        <dd>Подбор коллекции, расчёт метража, доставка и укладка под ключ</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li class="partners__item">
              <div class="partners__tile" data-partners-flip tabindex="0">
                <div class="partners__flip">
                  <div class="partners__face partners__face--front">
                    <img class="partners__logo" src="/static/images/partners/ideal.webp" alt="Ideal" width="200" height="120" loading="lazy" decoding="async">
                  </div>
                  <div class="partners__face partners__face--back" aria-hidden="true">
                    <dl class="partners__case">
                      <div class="partners__case-row">
                        <dt>О бренде</dt>
                        <dd>Линейка Ideal Form — ламинат для жилых и коммерческих помещений</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>Ассортимент</dt>
                        <dd>Ламинат разных классов износостойкости и влагостойкие коллекции</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>У нас</dt>
                        <dd>Поставка на объект, подбор подложки и монтаж с гарантией на работы</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li class="partners__item">
              <div class="partners__tile" data-partners-flip tabindex="0">
                <div class="partners__flip">
                  <div class="partners__face partners__face--front">
                    <img class="partners__logo" src="/static/images/partners/kastamonu.webp" alt="Kastamonu" width="200" height="120" loading="lazy" decoding="async">
                  </div>
                  <div class="partners__face partners__face--back" aria-hidden="true">
                    <dl class="partners__case">
                      <div class="partners__case-row">
                        <dt>О бренде</dt>
                        <dd>Крупный турецкий производитель древесных плит и ламината</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>Ассортимент</dt>
                        <dd>Ламинат с широким выбором декоров под дерево и камень</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>У нас</dt>
                        <dd>Актуальные коллекции на складе, замер с образцами и расчёт сметы</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li class="partners__item">
              <div class="partners__tile" data-partners-flip tabindex="0">
                <div class="partners__flip">
                  <div class="partners__face partners__face--front">
                    <img class="partners__logo" src="/static/images/partners/egger.webp" alt="Egger" width="200" height="120" loading="lazy" decoding="async">
                  </div>
                  <div class="partners__face partners__face--back" aria-hidden="true">
                    <dl class="partners__case">
                      <div class="partners__case-row">
                        <dt>О бренде</dt>
                        <dd>Австрийский производитель материалов для отделки и мебели</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>Ассортимент</dt>
                        <dd>Ламинат европейского качества с устойчивыми замковыми системами</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>У нас</dt>
                        <dd>Подбор под интерьер, проверка наличия партий и профессиональный монтаж</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li class="partners__item">
              <div class="partners__tile" data-partners-flip tabindex="0">
                <div class="partners__flip">
                  <div class="partners__face partners__face--front">
                    <img class="partners__logo" src="/static/images/partners/swiss-krono.webp" alt="Swiss Krono" width="200" height="120" loading="lazy" decoding="async">
                  </div>
                  <div class="partners__face partners__face--back" aria-hidden="true">
                    <dl class="partners__case">
                      <div class="partners__case-row">
                        <dt>О бренде</dt>
                        <dd>Европейский бренд ламината и древесных плит Swiss Krono Group</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>Ассортимент</dt>
                        <dd>Ламинат для дома и офиса с акцентом на долговечность покрытия</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>У нас</dt>
                        <dd>Комплектация заказа с подложкой и плинтусом, доставка и укладка</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li class="partners__item">
              <div class="partners__tile" data-partners-flip tabindex="0">
                <div class="partners__flip">
                  <div class="partners__face partners__face--front">
                    <img class="partners__logo" src="/static/images/partners/la-moena.webp" alt="La Moena" width="200" height="120" loading="lazy" decoding="async">
                  </div>
                  <div class="partners__face partners__face--back" aria-hidden="true">
                    <dl class="partners__case">
                      <div class="partners__case-row">
                        <dt>О бренде</dt>
                        <dd>Бренд напольных покрытий с акцентом на дизайн и тактильную текстуру</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>Ассортимент</dt>
                        <dd>Декоративные коллекции ламината для жилых интерьеров</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>У нас</dt>
                        <dd>Выезд с образцами, подбор под освещение комнаты и монтаж без стыков-порогов</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li class="partners__item">
              <div class="partners__tile" data-partners-flip tabindex="0">
                <div class="partners__flip">
                  <div class="partners__face partners__face--front">
                    <img class="partners__logo" src="/static/images/partners/aberhof.webp" alt="Aberhof" width="200" height="120" loading="lazy" decoding="async">
                  </div>
                  <div class="partners__face partners__face--back" aria-hidden="true">
                    <dl class="partners__case">
                      <div class="partners__case-row">
                        <dt>О бренде</dt>
                        <dd>Европейский бренд SPC и отделочных комплектующих на рынке с 2001 года</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>Ассортимент</dt>
                        <dd>SPC-покрытия, дюрополимерные плинтусы и профили</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>У нас</dt>
                        <dd>Продажа SPC и плинтусов Aberhof с монтажом и подготовкой основания</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li class="partners__item">
              <div class="partners__tile" data-partners-flip tabindex="0">
                <div class="partners__flip">
                  <div class="partners__face partners__face--front">
                    <img class="partners__logo" src="/static/images/partners/solid.webp" alt="Solid" width="200" height="120" loading="lazy" decoding="async">
                  </div>
                  <div class="partners__face partners__face--back" aria-hidden="true">
                    <dl class="partners__case">
                      <div class="partners__case-row">
                        <dt>О бренде</dt>
                        <dd>Производитель напольных покрытий и решений для ремонта Solid Group</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>Ассортимент</dt>
                        <dd>Ламинат и сопутствующие материалы для частного и коммерческого пола</dd>
                      </div>
                      <div class="partners__case-row">
                        <dt>У нас</dt>
                        <dd>Подбор покрытия под бюджет, расчёт комплектации и укладка на объекте</dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
